<a href="https://colab.research.google.com/github/gogosuperman/Data-Science/blob/master/lab0707.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load dataset

In [140]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [141]:
import pandas as pd
df1_14 = pd.read_excel('/content/drive/MyDrive/實驗資料集/1-14.xlsx')  
dfstroke = pd.read_excel('/content/drive/MyDrive/實驗資料集/stroke registry.xlsx') 
dfpatient = pd.read_excel('/content/drive/MyDrive/實驗資料集/patientlist.xlsx') 
df15 = pd.read_excel('/content/drive/MyDrive/實驗資料集/15.xlsx') 
df15_0707 = pd.read_excel('/content/drive/MyDrive/實驗資料集/15 (20210707).xlsx') 
#dfnew = pd.read_excel('/Users/zionhsu/Documents/0702Data-3.xlsx',index_col=0)

In [142]:
df1_14['ChartNoId'].duplicated().any()

False

# Data preprocessing

In [143]:
#drop 掉文字資料和其他資料集重複的欄位
df1_14 = df1_14.drop(['ChartNoId','尿管', '鼻胃管','抽菸','量','單位','菸齡','已戒菸時間','單位.1','意識狀態','主診斷.1','次診斷1','次診斷1.1','次診斷2','次診斷2.1','次診斷3','次診斷3.1','次診斷4','次診斷4.1','次診斷5','次診斷5.1','性別','年齡','GCS'], axis=1)
df1_14.columns

Index(['ChartNo', '住院天數', '大於7天', '科別', '手術', '呼吸器', '沐浴', '更衣', '如廁', '活動',
       '排泄', '進食', '主診斷'],
      dtype='object')

In [144]:
#merge資料集
dfps = pd.merge(dfstroke, dfpatient, how='left', on=['ChartNo','AdmissionDate'])
dfps1_14 = pd.merge(dfps, df1_14, how='left', on=['ChartNo'])

In [145]:
# Get all names 
for col_name in dfps1_14.columns: 
    print(col_name)

ChartNo
AdmissionDate
Education
Occupation
Arrival_mode
ODT_GT_3H
Age
Sex
Height
Weight
BMI
mRSBefore
pre_dependent
HTN
DM
Lipid
Smoking
AF
CAD
CHF
PriorStrokeTIA
ESRD
Cancer
Recent_inf
Prior_AP
Prior_OAC
NIHSS
NIHSS1a
NIHSS1b
NIHSS1c
NIHSS2
NIHSS3
NIHSS4
NIHSS5aL
NIHSS5bR
NIHSS6aL
NIHSS6bR
NIHSS7
NIHSS8
NIHSS9
NIHSS10
NIHSS11
NIHSS_arm_diff
NIHSS_leg_diff
E
V
M
GCS
SBP
DBP
BT
HR
RR
Glucose
HbA1c
CRP
BUN
Creatinine
GOT
GPT
HDL
LDL
TG
Hct
Hb
WBC
Platelet
PTT
PTTControl
INR
Thrombolysis
Foley_use
NG_use
TOAST
OCSP
StrokeType
Care_Spouse
Care_Children
Care_Siblings
Care_Relative
Care_Friends
Care_Attendant
Care_Self
Care_Other
Consent
Pneumonia
LOS
Prolonged_LOS
mRS_dis
poor_dis
mRS_3m
death_3m
poor_3m
readm_death_3m
年
住院天數
大於7天
科別
手術
呼吸器
沐浴
更衣
如廁
活動
排泄
進食
主診斷

In [146]:
# Select all duplicate rows based on one column
dfps1_14[dfps1_14.duplicated(['ChartNo'],keep=False)]
duplicateRowsDF = dfps1_14[dfps1_14.duplicated(['ChartNo'])]
print("Duplicate Rows based on a single column are:", duplicateRowsDF, sep='\n')
#https://thispointer.com/pandas-find-duplicate-rows-in-a-dataframe-based-on-all-or-selected-columns-using-dataframe-duplicated-in-python/

Duplicate Rows based on a single column are:
Empty DataFrame
Columns: [ChartNo, AdmissionDate, Education, Occupation, Arrival_mode, ODT_GT_3H, Age, Sex, Height, Weight, BMI, mRSBefore, pre_dependent, HTN, DM, Lipid, Smoking, AF, CAD, CHF, PriorStrokeTIA, ESRD, Cancer, Recent_inf, Prior_AP, Prior_OAC, NIHSS, NIHSS1a, NIHSS1b, NIHSS1c, NIHSS2, NIHSS3, NIHSS4, NIHSS5aL, NIHSS5bR, NIHSS6aL, NIHSS6bR, NIHSS7, NIHSS8, NIHSS9, NIHSS10, NIHSS11, NIHSS_arm_diff, NIHSS_leg_diff, E, V, M, GCS, SBP, DBP, BT, HR, RR, Glucose, HbA1c, CRP, BUN, Creatinine, GOT, GPT, HDL, LDL, TG, Hct, Hb, WBC, Platelet, PTT, PTTControl, INR, Thrombolysis, Foley_use, NG_use, TOAST, OCSP, StrokeType, Care_Spouse, Care_Children, Care_Siblings, Care_Relative, Care_Friends, Care_Attendant, Care_Self, Care_Other, Consent, Pneumonia, LOS, Prolonged_LOS, mRS_dis, poor_dis, mRS_3m, death_3m, poor_3m, readm_death_3m, 年, 住院天數, 大於7天, 科別, 手術, 呼吸器, ...]
Index: []

[0 rows x 107 columns]

# Dealing with med dataset

In [147]:
dfnew_15 = df15.drop(['ChartNoId','藥名','劑量','頻次','服法','用藥時間'], axis = 1)
dfnew_15

        ChartNo   院內代碼
0       3981498  ALINA
1       3981498  ALINA
2       3981498  BOKEY
3       3981498  CEFAZ
4       3981498  CONST
...         ...    ...
182718  1704570  CORDA
182719  1704570  ELIQT
182720  1704570  GASTE
182721  1704570  HYZAT
182722  1704570  UREC2

[182723 rows x 2 columns]

In [148]:
#create med_dictionary
med_dict = dict.fromkeys(['ZOCOT','LESC8','LIPI2','CREST','LIVAT','LINIT','VYTOT','CADUT'],'STAINS')
med_dict.update(dict.fromkeys(['CAPOT','ZESTR','TRIT1','MONOP','ACERT','ACERP'],'ACEIS'))
med_dict.update(dict.fromkeys(['INDE1','INDE4','BETAZ','TENOR','CONC1','CONCT'],'B-blockers'))
med_dict.update(dict.fromkeys(['LOSEI','PANTI','PANTT','TAKET','TAKE3','PARIT','NEXIT','NEXII','DEXIT'],'PPI'))
med_dict.update(dict.fromkeys(['CMT3','ZANTA','ZANTI','GASTE','GASTI','ROXAT'],'H2'))
med_dict.update(dict.fromkeys(['PLAVT','PLAV3'],'anticoagulants'))
med_dict.update(dict.fromkeys(['PLET1','PLETT'],'Cilostazol'))
med_dict.update(dict.fromkeys(['SCODO','PARML','PERIO'],'Oral care'))

#map 院內代碼_to_med_dictionary
dfnew_15['Medtype'] = dfnew_15['院內代碼'].map(med_dict)
dfnew_15['Medtype'] = dfnew_15['Medtype'].fillna('Others')
#one hot
dfoh_15 = pd.get_dummies(dfnew_15, prefix=['Medtype'], columns=['Medtype'])
dfoh_15
#取特定欄位
#dfnew_15 = dfoh_15.drop(['ChartNoId','院內代碼','藥名','劑量','頻次','服法','用藥時間'], axis = 1)
dfnew_15 = dfoh_15.drop(['院內代碼'], axis = 1)
#dfoh_15.columns


#https://www.dezyre.com/recipes/map-values-in-pandas-dataframe
#https://stackoverflow.com/questions/2974022/is-it-possible-to-assign-the-same-value-to-multiple-keys-in-a-dict-object-at-onc
#https://stackoverflow.com/questions/37265312/how-to-create-dummies-for-certain-columns-with-pandas-get-dummies

In [149]:
#將相同病例號重複資料刪除，並利用 row 相加合併
df_without_duplicates = dfnew_15.drop_duplicates()
df_sum = df_without_duplicates.groupby('ChartNo', as_index=False).sum()
df_sum

      ChartNo  Medtype_ACEIS  ...  Medtype_STAINS  Medtype_anticoagulants
0      663229              0  ...               0                       1
1      668385              0  ...               0                       0
2      909204              0  ...               0                       0
3      939171              0  ...               1                       0
4     1040609              0  ...               0                       0
..        ...            ...  ...             ...                     ...
915  17043779              1  ...               1                       0
916  17062817              0  ...               1                       1
917  17065269              0  ...               0                       0
918  17067843              0  ...               1                       1
919  17068093              0  ...               0                       0

[920 rows x 10 columns]

In [150]:
#dfpsall = pd.merge(dfps1_14, df_sum, how='left', on=['ChartNo'])
#dfpsall_final = dfpsall.sort_values(by='AdmissionDate',ascending=False)
#dfpsall_final

In [151]:
#dfpsall_final.isna().any(axis=1)

In [152]:
#查詢有空值的 row 數 = 6847 -> 6862-6847 = 只有 15 列是完整的
#dfpsall_final[dfpsall_final.isna().any(axis=1)]


# 檢驗各欄位空值

In [168]:
#查詢各欄位空值數量
dfnannum = dfpsall_final.isnull().sum().to_frame().T
#合併兩個 dataframe
df0707 = pd.concat([dfnannum,dfpsall_final]).reset_index(drop=True)
df0707

       ChartNo        AdmissionDate  ...  Medtype_STAINS  Medtype_anticoagulants
0            0                    0  ...          5942.0                  5942.0
1     16311053  2020-03-31 00:00:00  ...             1.0                     0.0
2     10357934  2020-03-31 00:00:00  ...             1.0                     0.0
3      1704570  2020-03-31 00:00:00  ...             1.0                     0.0
4      7264665  2020-03-28 00:00:00  ...             1.0                     0.0
...        ...                  ...  ...             ...                     ...
6858   8876331  2007-10-04 00:00:00  ...             NaN                     NaN
6859   9143708  2007-10-04 00:00:00  ...             NaN                     NaN
6860   3170731  2007-10-02 00:00:00  ...             NaN                     NaN
6861  12856466  2007-10-02 00:00:00  ...             NaN                     NaN
6862  11455677  2007-10-01 00:00:00  ...             NaN                     NaN

[6863 rows x 116 columns]

In [155]:
#比對兩個 dataframe 是否相同
#dfnew['AdmissionDate'] = dfnew['AdmissionDate'].astype('datetime64')
from pandas.util.testing import assert_frame_equal
print(assert_frame_equal(df15_0707,df15))
#dfpsall_final.equals(dfnew)

AssertionError: ignored

## 加入新藥物資料

In [156]:
#df=pd.concat([df15_0707,df15],axis=0,ignore_index=True)
df15.columns

Index(['ChartNoId', 'ChartNo', '院內代碼', '藥名', '劑量', '頻次', '服法', '用藥時間'], dtype='object')

In [157]:
df15_0707.columns

Index(['住院序號', '病歷', '處置代碼', '處置名稱'], dtype='object')

In [162]:
#新藥物資料變更欄位名稱
df15_0707_new = df15_0707.rename(columns={'住院序號':'ChartNoId','病歷':'ChartNo','處置代碼':'院內代碼','處置名稱':'藥名'})
#drop掉不必要的欄位
dfnew_df15_0707 = df15_0707_new.drop(['ChartNoId','藥名'], axis = 1)

In [163]:
#MAPPING 新藥物資料
#map 院內代碼_to_med_dictionary
dfnew_df15_0707['Medtype'] = dfnew_df15_0707['院內代碼'].map(med_dict)
dfnew_df15_0707['Medtype'] = dfnew_df15_0707['Medtype'].fillna('Others')
#one hot
dfohshit_15 = pd.get_dummies(dfnew_df15_0707, prefix=['Medtype'], columns=['Medtype'])
dfohshit_15
#取特定欄位
dfnew_15_0707 = dfohshit_15.drop(['院內代碼'], axis = 1)
#將相同病例號重複資料刪除，並利用 row 相加合併
dfnew_15_0707_without_duplicates = dfnew_15_0707.drop_duplicates()
df_0707_sum = dfnew_15_0707_without_duplicates.groupby('ChartNo', as_index=False).sum()
df_0707_sum

       ChartNo  Medtype_ACEIS  ...  Medtype_STAINS  Medtype_anticoagulants
0        33572              1  ...               1                       0
1        60967              0  ...               0                       0
2       117807              0  ...               1                       0
3       199520              0  ...               1                       0
4       212151              0  ...               0                       0
...        ...            ...  ...             ...                     ...
2817  16402072              0  ...               1                       0
2818  16454583              0  ...               1                       0
2819  16473898              0  ...               1                       0
2820  16737303              0  ...               1                       1
2821  16853157              0  ...               1                       0

[2822 rows x 10 columns]

# 合併新舊藥物分類資料

In [164]:
#合併新舊藥物分類資料
medwhole = pd.concat([df_0707_sum, df_sum], ignore_index=True)

#檢查新舊藥物資料是否有重複病歷號
medwhole_without_duplicates = medwhole.drop_duplicates()

#將相同病例號重複資料刪除，並利用 row 相加合併
med_whole = medwhole_without_duplicates.groupby('ChartNo', as_index=False).sum()
#medwhole -> 2822+920 = 共3742筆
#medwhole_without_duplicates共3742筆(新舊資料無重複病歷號)
med_whole

       ChartNo  Medtype_ACEIS  ...  Medtype_STAINS  Medtype_anticoagulants
0        33572              1  ...               1                       0
1        60967              0  ...               0                       0
2       117807              0  ...               1                       0
3       199520              0  ...               1                       0
4       212151              0  ...               0                       0
...        ...            ...  ...             ...                     ...
3737  17043779              1  ...               1                       0
3738  17062817              0  ...               1                       1
3739  17065269              0  ...               0                       0
3740  17067843              0  ...               1                       1
3741  17068093              0  ...               0                       0

[3742 rows x 10 columns]

# 合併總資料

In [ ]:
#跟中風資料合併
dfpsall_0707 = pd.merge(dfps1_14,med_whole, how='left', on=['ChartNo'])
dfpsall_final_0707 = dfpsall_0707.sort_values(by='AdmissionDate',ascending=False)
dfpsall_final_0707

In [167]:
#檢查各欄位空值數(尚未加入前 5942 -加入後 3120 = 2820)
dfnannum_0707 = dfpsall_final_0707.isnull().sum().to_frame().T
dfnannum_0707

   ChartNo  AdmissionDate  ...  Medtype_STAINS  Medtype_anticoagulants
0        0              0  ...            3120                    3120

[1 rows x 116 columns]

In [ ]:
#合併兩個 dataframe
df0707_new = pd.concat([dfnannum_0707,dfpsall_final]).reset_index(drop=True)
df0707_new

# 成果顯現

In [ ]:
#dfpsall_final_0707.to_csv('0707Data.csv', encoding='utf-8')
df0707_new.to_excel('0707Data.xls', encoding='utf-8')

In [ ]:
#查詢有空值的 row 數 = 6847 -> 6862-6847 = 只有 15 列是完整的
df0707_new[df0707_new.isna().any(axis=1)]